<% include partials/head %>
<% if(data.length>1) { %>
<h1><%= data[1].name %></h1>
<% } else { %>
<h1><%= data.name %></h1>
<% } %>
<h2>Hello world</h2>
<% if(data.length>1) {
data.forEach(function(user){ %>
   <p><%= user.name %></p>
   <p><%= user.email %></p>
   <p><%= user.password %></p>
   <b>End of user</b>
<% }); 
} else {
%>
<p><%= data.name %></p>
<p><%= data.email %></p>
<p><%= data.password %></p>
<b>End of user</b>
<%
}
%>
<form method="post">
	<input type="text" name="name">
	<input type="text" name="email">
	<input type="password" name="password">
	<input type="submit">
</form>
<% include partials/foot %>